.form-container label{
    padding-left: 10px;
    font-size: 1.2rem;
    color: #051b5f;
}

.form-container{
    background-color: cadetblue;
}
.not-create-container{
    background-color: lightcoral;
}

.task-success td{
    color: #1a202c !important;
    background-color: #ea6c80 !important;
}
